---
import MainLayout from "@layouts/MainLayout.astro";
import BlogCard from "@components/BlogCard.astro";
import Pagination from "@components/Pagination.astro";
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import type { CollectionEntry } from "astro:content";

interface Props {
  language: string;
}
let { language } = Astro.props;
if (!language) {
  language = "en";
}

const currentPath = getRelativeLocaleUrl(language, "articles");

let posts = await getCollection("blogs", ({ data }) => {
  if (import.meta.env.PROD) {
    return data.draft !== true;
  } else {
    return true;
  }
});
posts = posts.filter((post) => post.data.show === undefined || post.data.show);

const title = "Articles";
const siteDescription = "A collection of articles";

const currentPage: number | null = +Astro.url.searchParams.get("page")! || 1;
const totalPages: number = Math.ceil(posts.length / 4);
const totalPosts: number = posts.length;
const articlesForPage: CollectionEntry<"blogs">[] = posts.slice(
  (currentPage - 1) * 4,
  currentPage * 4,
);
---

<MainLayout description={siteDescription} {currentPath} {language} {title}>
  <div class="flex flex-col justify-between">
    <BlogCard posts={articlesForPage} {language} />
    <Pagination
      currentPage={currentPage}
      totalPosts={totalPosts}
      disablePrevious={currentPage === 1}
      disableNext={currentPage === totalPages}
      language={language}
      path={"articles"}
    />
  </div>
</MainLayout>
