---
import MainLayout from "@layouts/MainLayout.astro";
import Github from "@icons/github.astro";
import Logo from "@icons/logo.astro";
import Linkedin from "@icons/linkedin.astro";
import Profile from "@assets/profile.webp";
import NewSletter from "@components/NewSletter.astro";
import data from "@data/en.json";
import { Image } from "astro:assets";

interface Props {
  language: string;
}
let { language } = Astro.props;
if (!language) {
  language = "en";
}

const currentPath = "about";
const title = "About";
---

<MainLayout description={data.siteDescription} {currentPath} {language} {title}>
  <div class="mb-[3%]">
    <div class="flex h-auto max-w-4xl flex-wrap items-start pb-[5%] lg:my-0">
      <div
        id="profile"
        class="lg:w-5/5 mx-6 flex w-full rounded-lg bg-white text-gray-900 opacity-95 shadow-2xl dark:border-gray-700 dark:bg-gray-800 dark:text-white lg:mx-0"
      >
        <div class="p-2 pb-4 text-center lg:text-left">
          <Logo
            color="block lg:hidden mx-auto stroke-current"
            size="w-20 h-20"
          />
          <h1
            class="my-auto block items-center justify-center text-center text-3xl font-bold lg:hidden lg:pt-0"
          >
            What is this !?
          </h1>

          <div class="flex">
            <div class="m-1 hidden lg:block">
              <Logo color="p-1 my-auto stroke-current" size="w-20 h-20" />
            </div>
            <h1
              class="my-auto ml-[5%] hidden items-center justify-center text-center text-3xl font-bold lg:block lg:pt-0"
            >
              What is this !?
            </h1>
          </div>
          <div class="w-5/5 border-primary mx-[5%] border-b-2 pt-3 opacity-25">
          </div>
          <div class="px-[5%] pt-4">
            <span class="text-xl font-bold italic">Voidbox</span>
            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">
              born from the struggle of retaining and accessing my learning and
              coding experiences, Voidbox serves as my digital archive. Here, I
              share my journey through the bleeding-edge of technology,
              capturing and transforming fleeting knowledge into accessible
              wisdom. May Voidbox guide you in your coding journey, much like a
              compass in the vast ocean of technology.
            </p>

            <p class="mb-2">
              Dive in, enjoy, and I hope you find it as useful as I do.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto flex h-auto max-w-4xl flex-wrap items-start lg:my-0">
      <div
        id="profile"
        class="lg:w-5/5 mx-6 flex w-full rounded-lg bg-white text-gray-900 opacity-95 shadow-2xl dark:border-gray-700 dark:bg-gray-800 dark:text-white lg:mx-0"
      >
        <div class="p-4 text-center md:p-12 lg:text-left">
          <Image
            class="mx-auto -mt-4 block h-48 w-48 rounded-full bg-cover bg-center shadow-xl lg:hidden"
            src={Profile}
            alt="Profile Picture"
          />

          <h1 class="pt-8 text-3xl font-bold lg:pt-0">
            Apinant U-suwantim (Moo)
          </h1>
          <div
            class="border-primary mx-auto w-4/5 border-b-2 pt-3 opacity-25 lg:mx-0"
          >
          </div>
          <p
            class="flex items-center justify-center pt-4 font-bold lg:justify-start"
          >
            Software Engineer
          </p>
          <p
            class="flex items-center justify-center text-xs lg:justify-start lg:text-sm"
          >
            Bangkok, Thailand
          </p>
          <p class="pt-4 font-light text-gray-500 dark:text-gray-400">
            Hello, I'm Moo I'm an enthusiastic developer and programmer based in
            Thailand, with a growing interest in languages and tools like Rust,
            Go, Lua, Astro, Cloud-related and many more along the way..
            Presently, I am focused on my day job while dedicating my spare time
            to building a blog website to share my thoughts and the knowledge
            I've accumulated.
          </p>

          <div
            class="mx-auto mt-6 flex w-4/5 flex-wrap items-center lg:w-full lg:pb-0"
          >
            <a
              class="link mr-4"
              href="https://github.com/LoneExile"
              target="_blank"
              aria-label="GitHub Profile"
            >
              <Github color="fill-current" size="w-6 h-6 cursor-pointer" />
            </a>
            <a
              class="link"
              href="https://www.linkedin.com/in/apinant-moo/"
              target="_blank"
              aria-label="Linkedin Profile"
            >
              <Linkedin color="fill-current" size="w-6 h-6 cursor-pointer" />
            </a>
          </div>
        </div>
        <div class="m-1 hidden w-full lg:block lg:w-4/5">
          <Image
            src={Profile}
            class="rounded-none p-1 shadow-2xl ring-2 ring-primary-700 lg:rounded-full"
            width="702"
            height="717"
            alt="Profile Picture"
          />
        </div>
      </div>
    </div>
  </div>
  <NewSletter {language} />
</MainLayout>
