---
import { formattedDate } from "@utils/utils";
import type { CollectionEntry } from "astro:content";
import ArrowRight from "@icons/arrow-right.astro";
import Read from "@icons/read.astro";
import TagBadge from "@components/TagBadge.astro";
import CategoryBadge from "@components/CategoryBadge.astro";

import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  posts: CollectionEntry<"blogs">[];
  language: string;
}

let { posts, language } = Astro.props;
posts = posts.sort((a, b) => {
  if (!a.data.created || !b.data.created) {
    return 0;
  }
  if (a.data.created > b.data.created) {
    return -1;
  } else if (a.data.created < b.data.created) {
    return 1;
  } else {
    return 0;
  }
});

const getPath = (slug: string) => {
  return getRelativeLocaleUrl(language, slug, {
    path: "articles/" + slug,
  });
};

const dateToToday = (date: string) => {
  const today = new Date();
  const created = new Date(date);
  const diffTime = Math.abs(today.getTime() - created.getTime());
  const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
  return diffDays;
};
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
      <h2
        class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        <!-- My Blog -->
      </h2>
      <p class="font-medium text-gray-500 sm:text-xl dark:text-gray-400">
        "As wisdom grows and knowledge flows,<br /> the more we learn, the less we
        know." - <span class="text-sm">VoidBox</span>
      </p>
    </div>
    <div class="grid gap-8 lg:grid-cols-1">
      {
        posts.map((post) =>
          !post.data.created ? null : (
            <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
              <div class="flex justify-between items-center mb-5 text-gray-500">
                <CategoryBadge categorys={post.data.category} />
                <span class="text-sm">
                  {dateToToday(post.data.created)} days ago
                </span>
              </div>
              <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                <a href={getPath(post.slug)}>{post.data.title}</a>
              </h2>
              <p class="mb-5 font-light text-gray-500 dark:text-gray-400">
                {post.data.description}
              </p>
              <div class="flex justify-between items-center">
                <div class="flex items-center space-x-4">
                  <TagBadge tags={post.data.tags} />
                </div>
                <a
                  href={getPath(post.slug)}
                  aria-label={"Read more about " + post.data.title}
                  class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline"
                >
                  {/* Read more */}
                  <Read color="fill-current" size="ml-2 w-5 h-5" />
                </a>
              </div>
            </article>
          ),
        )
      }
    </div>
  </div>
</section>
