---
import ThemeSwitcher from "@components/theme/ThemeSwitcher.astro";
import LanguageSwitcher from "@components/language/LanguageSwitcher.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import Logo from "@icons/logo.astro";
import Hambuger from "@icons/hamburger2.astro";

interface Props {
  currentPath: string;
  language: string;
  data: SiteData;
}

const { currentPath, language, data } = Astro.props;

const getPath = (path: string) => {
  return getRelativeLocaleUrl(language, path);
};

type NavItem = {
  title: string;
  path: string;
};

const items: NavItem[] = [
  {
    title: data.navbar.home,
    path: getRelativeLocaleUrl(language, ""),
  },
  {
    title: data.navbar.articles,
    path: getRelativeLocaleUrl(language, "articles"),
  },
  {
    title: data.navbar.about,
    path: getRelativeLocaleUrl(language, "about"),
  },
];
---

<nav class="border-gray-200 bg-white dark:bg-gray-900">
  <div
    class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
  >
    <a
      href={getRelativeLocaleUrl(language, "")}
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <Logo color="stroke-primary-700" size="w-12 h-12" />
      <span
        class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white"
        >VoidBox</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 md:hidden"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <Hambuger color="fill-none" size="w-5 h-5" />
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 font-medium rtl:space-x-reverse dark:border-gray-700 dark:bg-gray-800 md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0 md:dark:bg-gray-900"
      >
        {
          items.map((item) =>
            item.path === getPath(currentPath) ? (
              <li>
                <a
                  href={item.path}
                  class="mt-1 block rounded bg-primary-700 px-3 py-2 text-white dark:text-white md:bg-transparent md:p-0 md:text-primary-700 md:dark:text-primary-500"
                  aria-current="page"
                >
                  {item.title}
                </a>
              </li>
            ) : (
              <li>
                <a
                  href={item.path}
                  class="mt-1 block rounded px-3 py-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-primary-700 md:dark:hover:bg-transparent md:dark:hover:text-primary-500"
                >
                  {item.title}
                </a>
              </li>
            ),
          )
        }
        <li>
          <div class="flex px-2">
            <ThemeSwitcher />
            <LanguageSwitcher {language} {currentPath} />
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
