---
import { getRelativeLocaleUrl } from "astro:i18n";
import Email from "@icons/email.astro";
import Modal from "@components/Modal.astro";
import Captcha from "@components/Captcha.tsx";

interface Props {
  language: string;
  data: SiteData;
}
const { language, data } = Astro.props;
---

<section class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
    <div class="mx-auto max-w-screen-md sm:text-center">
      <p
        class="mx-auto mb-8 max-w-2xl text-gray-500 dark:text-gray-400 sm:text-xl md:mb-12"
      >
        {data.newSletter.title}
      </p>

      <form action="#" id="subscription-form">
        <div class="mx-auto flex max-w-screen-sm">
          <span
            id="subscribe-success"
            class="text-green-799 mx-0 mb-2 me-2 ml-2 hidden rounded-full bg-green-100 px-2.5 py-0.5 text-left text-xs font-medium dark:bg-green-900 dark:text-green-300"
          >
            {data.newSletter.buttonSuccess}
          </span>
          <span
            id="subscribe-error"
            class="text-red-799 mx-0 mb-2 me-2 ml-2 hidden rounded-full bg-red-100 px-2.5 py-0.5 text-left text-xs font-medium dark:bg-red-900 dark:text-red-300"
          >
            {data.newSletter.buttonError}
          </span>
        </div>
        <div
          class="mx-auto mb-3 max-w-screen-sm items-center space-y-4 sm:flex sm:space-y-0"
        >
          <div class="relative w-full">
            <label
              for="email"
              class="mb-2 hidden text-sm font-medium text-gray-900 dark:text-gray-300"
            >
              Email address
            </label>
            <div
              class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
            >
              <Email
                color="fill-current"
                size="w-4 h-4 text-gray-500 dark:text-gray-400"
              />
            </div>
            <input
              class="block w-full rounded-lg border border-gray-300 bg-white p-3 pl-9 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500 sm:rounded-none sm:rounded-l-lg"
              placeholder="Enter your email"
              type="email"
              id="email"
              name="email"
              required=""
            />
          </div>
          <div>
            <button
              id="subscribe"
              type="submit"
              class="hidden w-full cursor-pointer rounded-lg border border-primary-600 bg-primary-700 px-5 py-3 text-center text-sm font-medium text-white hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:rounded-none sm:rounded-r-lg"
            >
              {data.newSletter.button}
            </button>
            <button
              id="subscribe-disabled"
              type="button"
              class="w-full cursor-not-allowed rounded-lg border border-primary-600 bg-primary-700 px-5 py-3 text-center text-sm font-medium text-white focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:focus:ring-primary-800 sm:rounded-none sm:rounded-r-lg"
              disabled
            >
              {data.newSletter.button}
            </button>
            <button
              id="subscribe-wait"
              type="button"
              disabled
              class="hidden w-full cursor-wait rounded-lg border border-primary-600 bg-primary-700 px-5 py-3 text-center text-sm font-medium text-white focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:focus:ring-primary-800 sm:rounded-none sm:rounded-r-lg"
              disabled
            >
              {data.newSletter.buttonVerifying}
            </button>
          </div>
        </div>
      </form>
      <div
        class="newsletter-form-footer mx-auto max-w-screen-sm text-left text-sm text-gray-500 dark:text-gray-300"
      >
        {data.newSletter.subDescription}
        <a
          href={getRelativeLocaleUrl(language, "privacy-policy")}
          class="font-medium text-primary-600 hover:underline dark:text-primary-500"
          >{data.newSletter.privacyPolicyLink}</a
        >
      </div>
      <!-- TODO: change theme -->
      <div id="cf-turnstile-ele">
        <!-- <Modal /> -->
        <Captcha client:click="#email" />
        <div
          class="cf-turnstile mt-4 flex justify-center"
          data-sitekey={import.meta.env.PUBLIC_TURNSTILE_KEY}
          data-size="normal"
        >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <script> -->
<!--   document.addEventListener("DOMContentLoaded", function () { -->
<!--     const turnstileContainer = document.querySelector( -->
<!--       ".cf-turnstile", -->
<!--     ) as HTMLElement; -->
<!--     function adjustTurnstileSize() { -->
<!--       if (window.innerWidth < 600) { -->
<!--         turnstileContainer.setAttribute("data-size", "compact"); -->
<!--       } else { -->
<!--         turnstileContainer.setAttribute("data-size", "normal"); -->
<!--       } -->
<!--     } -->
<!--     adjustTurnstileSize(); -->
<!--     window.addEventListener("resize", adjustTurnstileSize); -->
<!--   }); -->
<!-- </script> -->

<!-- <script> -->
<!--   document.addEventListener("DOMContentLoaded", function () { -->
<!--     const subscribeButton = document.getElementById("subscribe"); -->
<!--     const subscribeDisabledButton = -->
<!--       document.getElementById("subscribe-disabled"); -->
<!--     function toggleSubscribeButton() { -->
<!--       const selectTurnstileToken = document.querySelector( -->
<!--         'input[name="cf-turnstile-response"]', -->
<!--       ); -->
<!--       const turnstileToken = (selectTurnstileToken as HTMLInputElement).value; -->
<!--       if (turnstileToken && turnstileToken.trim() !== "") { -->
<!--         (subscribeButton as HTMLElement).classList.remove("hidden"); -->
<!--         (subscribeDisabledButton as HTMLElement).classList.add("hidden"); -->
<!--       } else { -->
<!--         (subscribeButton as HTMLElement).classList.add("hidden"); -->
<!--         (subscribeDisabledButton as HTMLElement).classList.remove("hidden"); -->
<!--       } -->
<!--     } -->
<!--     const targetNode = document.getElementById( -->
<!--       "cf-turnstile-ele", -->
<!--     ) as HTMLElement; -->
<!--     const config = { attributes: true, childList: true, subtree: true }; -->
<!--     const callback = (mutationList: any, _: any) => { -->
<!--       for (const mutation of mutationList) { -->
<!--         if (mutation.type === "attributes") { -->
<!--           if (mutation.attributeName === "value") { -->
<!--             toggleSubscribeButton(); -->
<!--           } -->
<!--         } -->
<!--       } -->
<!--     }; -->
<!--     const observer = new MutationObserver(callback); -->
<!--     observer.observe(targetNode, config); -->
<!--   }); -->
<!-- </script> -->

<!-- <script> -->
<!--   document -->
<!--     .getElementById("subscription-form") -->
<!--     ?.addEventListener("submit", function (event) { -->
<!--       event.preventDefault(); -->

<!--       const selectEmail = document?.querySelector( -->
<!--         'input[name="email"]', -->
<!--       ) as HTMLInputElement; -->
<!--       const email = selectEmail?.value; -->
<!--       const selectTurnstileToken = document.querySelector( -->
<!--         'input[name="cf-turnstile-response"]', -->
<!--       ) as HTMLInputElement; -->
<!--       const turnstileToken = selectTurnstileToken?.value; -->

<!--       fetch(import.meta.env.PUBLIC_TURNSTILE_HANDLE_API, { -->
<!--         method: "POST", -->
<!--         headers: { -->
<!--           "Content-Type": "application/json", -->
<!--         }, -->
<!--         body: JSON.stringify({ -->
<!--           email: email, -->
<!--           captchaToken: turnstileToken, -->
<!--         }), -->
<!--       }) -->
<!--         .then((response) => { -->
<!--           if (!response.ok) { -->
<!--             throw new Error(`HTTP error! status: ${response.status}`); -->
<!--           } -->
<!--           return response.json(); -->
<!--         }) -->
<!--         .catch((error) => { -->
<!--           console.error("Error:", error.message); -->
<!--         }); -->
<!--     }); -->
<!-- </script> -->
