---
export const prerender = true;

import Content from "@layouts/Content.astro";
import { Comments } from "@components/Comment";
import { formattedDate } from "@utils/utils";

const { created, updated, draft, tags, title, description } = Astro.props;
---

<!-- TODO: 
- https://docs.astro.build/en/guides/markdown-content/ 
- add color to header
- click to zoom images
- add width to images
-->
<Content title={title} description={description}>
  <div>
    <div class="mb-8">
      {
        draft && (
          <span class="bg-error-content text-primary inline-block px-2 mb-4">
            [Draft]
          </span>
        )
      }
      {
        tags && (
          <div class="mb-4">
            {tags.map((tag: string) => (
              <a
                href={`/blogs/tag/${tag.toLowerCase()}`}
                class="inline-block bg-primary-focus rounded-full px-3 py-1 text-sm font-semibold text-primary-content mr-2 mb-2"
              >
                #{tag}
              </a>
            ))}
          </div>
        )
      }
      <h1 class="text-4xl mb-2">{title}</h1>
      <p class="text-sm mb-2">
        <span>
          Posted {formattedDate(created)}
        </span>
        <span>•</span>
        <span>
          Updated {formattedDate(updated)}
        </span>
      </p>
    </div>
    <div class="prose pb-[10%]">
      <slot />
    </div>
    <Comments client:visible />
  </div>
</Content>
