---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";

interface Props {
  data: SiteData;
  description: string;
  currentPath: string;
  language: string;
  title: string;
}

const { data, description, currentPath, language, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#dca54c" />
    <meta name="msapplication-TileColor" content="#dca54c" />
    <meta name="theme-color" content="#ffffff" />
    <title>{title}</title>
    <style></style></head
  >

  <body class="dark:bg-gray-900 md:bg-white">
    <div class="flex h-screen flex-col justify-between">
      <Navbar {data} {currentPath} {language} />
      <section class="container mx-auto mt-10 max-w-screen-xl px-8">
        <slot />
      </section>
      <Footer {language} />
    </div>
    <!-- <script type="text/partytown" src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script> -->
    <script type="text/partytown" src="/scripts/flowbite.min.js"></script>
  </body>
</html>
